<h1>Planet of the Scrapes</h1>
<button id="scrape" class="btn btn-secondary">Scrape</button>

{{#each article}}
<h1>{{article.title}}</h1>
{{/each }}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


