
.title {
    letter-spacing: 5px;
}

.link {
    transition: 0.6s
}

.link:hover {
    letter-spacing: 0.7px;
}

/* .article-container {
    background-image: url('https://images.pexels.com/photos/261763/pexels-photo-261763.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
} */